# Node.js
node_modules/

# Environment Variables
.env

# Distribution and Build Outputs
dist/
build/

# IDEs and Editors
.vscode/
.idea/

# Logs
logs/

# Miscellaneous
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
